{{ partial "head" . }}

<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="res-cons">
                    <h3 class="archive-title">
                        Articles in
                        <span class="keyword">{{ .Data.Term }}</span>
                        {{ .Data.Singular }}
                    </h3>

                    {{ range $index,$data := (where .Paginator.Pages "Type" "in" (slice "post" "posts")) }}
                        <article class="post">
                            <header>
                                <h1 class="post-title">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h1>
                            </header>
                            <date class="post-meta meta-date">
                                {{ .Date.Year }}/{{ printf "%d" .Date.Month }}/{{ .Date.Day }}
                            </date>
                            {{ with .Params.Categories }}
                            <div class="post-meta meta-category">
                                |
                                {{ range . }}
                                    <a href="{{ "/categories/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </div>
                            {{ end }}
                            <div class="post-content">
                                {{ .Summary }}……
                                <p class="readmore"><a href="{{ .Permalink }}">Read More</a></p>
                            </div>
                        </article>
                    {{ end }}

                    {{ partial "paginator" . }}
                </div>
            </div>

            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}

</body>
</html>
