{{ partial "head" . }}

<body>
{{ partial "header" . }}
<div class="body404">
    <div class="info404">
        <header id="header404" class="clearfix">
            <div class="site-name404"><i>404</i></div>
        </header>
        <section>
            <div class="title404">
                <p>It does not matter how slowly you go<br/>as long as you do not stop.</p>
            </div>
            <a rel="nofollow" href="{{ .Site.BaseURL }}" class="index404">Go back</a>
        </section>
    </div>
</div>
{{ partial "footer" . }}

</body>
</html>